:root {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

    padding: 0.5rem;

    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 25px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, 
h1, h2, h3, h4, h5, h6,
ul, ol,
p {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    justify-items: center;
    gap: 1rem;
}

#game-info {
    margin-top: auto;
    font-size: 2rem;
    font-weight: 900;
    user-select: none;
}

.invisible {
    opacity: 0;
}

.disabled-button {
    color: grey;
}

.game-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.player-one-info,
.player-two-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.board {
    border: 10px solid black;
    border-radius: 25px;
    width: 500px;
    height: 500px;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

    overflow: hidden;

    font-weight: 900;
    font-size: 6rem;
}

.board-cell {
    outline: 5px solid black;
    display: grid;
    place-items: center;
    user-select: none;
}